@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">   
        <div class="tables BtnNav">
            <a href="#" id="tabCours" class="btn btn-primary" style="width:125px">Cours</a>
            <a href="#" id="tabEtudiant" class="btn btn-primary" style="width:125px">Étudiants</a>
        </div>

        <div class="Partial-Container">        
            @Html.Partial("_Connexion")
        </div>
</div>

<script>
    $(".BtnNav").hide();

function ShowEtudiants()
{
    $.ajax({
        url:"/Home/ShowEtudiants",
        methode:"GET",
        success:function(data)
        {
            $(".Partial-Container").html(data);
        }               
    });
}

        //Affichage de la table Etudiants
$("#tabEtudiant").click(function () {   
    ShowEtudiants();
    $(this).prop("disabled",true)
    $("#tabCours").prop("disabled",false);
});

function ShowCours(){
    $.ajax({
        url:"/Home/ShowCours",
        methode:"GET",
        success:function(data){
            $(".Partial-Container").html(data);
        }
                
    })
}

        //Affichage de la table Cours
$("#tabCours").click(function () {   
    ShowCours();
    $(this).prop("disabled",true)
    $("#tabEtudiant").prop("disabled",false);
});

</script>