@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-3">PRIVACY POLICY</h1>

</div>
<div class="privacyBox">
    <h2>Your Privacy is Important to Us</h2>
    <p>
        It is our policy to respect your privacy regarding any information we may collect while operating our website.
        Accordingly, we have developed this privacy policy in order for you to understand how we collect, use,
        communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy
        below. 
        <br />
        <br />
        Point 1. 
        <br />
        We will collect personal information by lawful and fair means and, where appropriate, with the
        knowledge or consent of the individual concerned.
        <br />
        <br />
        Point 2. 
        <br />
        Before or at the time of collecting personal information, we will identify the purposes for which
        information is being collected.
        <br />
        <br />
        Point 3. 
        <br />
        We will collect and use personal information solely for fulfilling those purposes specified by us and
        for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.
        <br />
        <br />
        Point 4. 
        <br />
        Personal data should be relevant to the purposes for which it is to be used, and, to the extent
        necessary for those purposes, should be accurate, complete, and up-to-date.
        <br />
        <br />
        Point 5. 
        <br />
        We will protect personal information by using reasonable security safeguards against loss or theft, as
        well as unauthorized access, disclosure, copying, use or modification.
        <br />
        <br />
        Point 6. 
        <br />
        We will make readily available to customers information about our policies and practices relating to
        the management of personal information.
        <br />
        <br />
        Point 7. 
        <br />
        We will only retain personal information for as long as necessary for the fulfilment of those
        purposes.
        <br />
        <br />
        We are committed to conducting our business in accordance with these principles in order to ensure that the
        confidentiality of personal information is protected and maintained. We may change this privacy policy from time to
        time at our sole discretion.
        <br />
        <br />
        <br />
        If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for
        information on how to contact us.
        <br />  
        Thank you for your interest in our website. Again we are committed to protecting your privacy.
        <br />
        Miguel Beauchemin and Erik Marcotte
        <br />
    </p>

</div>
<div id="Copyright">
    By Diliff - Own work,
    <a href="https://creativecommons.org/licences/by-sa/3.0">CC BY-SA 3.0</a>,
    <a href="https://commons.wikimedia.org/w/index.php?curid=34183032">Link</a>
</div>

<style>
    body{
        background-image: url("/images/Cambridge.jpg");
        background-size: cover;
        background-position: center;
    }
    h1{
        color: white;
        font-size: 75px;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;
    }
    .privacyBox{
        background-color: rgba(128,128,128,0.8);
        padding: 10px;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 10px;
        width: 70%;
        color: white;
    }
    .privacyBox h2{
        color: black;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px 4px white;
        text-align: center;
    }
    #Copyright{
        position: fixed;
        bottom: 0;
        right: 0;
        color: white;
        background-color: rgba(0,0,0,0.6);
        padding: 5px;
        font-size: 10px;
    }
</style>
